* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

button {
    width: 60%;
    height: 40px;
    border: none;
    transition: 1s;
    font-size: 25px;
    border-radius: 6px;
}

.numb1 , .numb2 {
    /* position: relative; */
    width: 60%;
    height: 40px;
    font-size: 24px;
    padding: 15px;
    border: none;
    background-color: rgb(134, 230, 134);
    border-radius: 6px;
    box-shadow: 1px 1px 10px 4px cyan;
    transition: 1s;
}

input:hover {
    background-color: cyan;
    box-shadow: none;
}

.container .answer {
    font-size: 35px;
}

.btn:hover {
    background-color: rgb(92, 92, 207);
}